<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">
    <hooks>
        <hook id="product_search.hook.front" class="ProductSearch\Hook\FrontHook" scope="request">
            <tag name="hook.event_listener" event="main.head-bottom" />
            <tag name="hook.event_listener" event="main.navbar-secondary" />
            <tag name="hook.event_listener" event="main.body-bottom" />
            <tag name="hook.event_listener" event="main.javascript-initialization" />
        </hook>
    </hooks>
</config>
