{javascripts file="assets/js/SearchEngine.js" source="IndexEngine"}
    <script src="{$asset_url}"></script>
{/javascripts}

{javascripts file="assets/js/productsearch.js" source="ProductSearch"}
    <script src="{$asset_url}"></script>
{/javascripts}

{literal}
<script id="item-template" type="text/template">
<li class="item col-md-3 col-lg-2">
    <article class="row">
    <a class="product-image col-sm-3" tabindex="-1" href="{{url}}">
        <img class="img-responsive" src="{{image}}" itemprop="image">
    </a>
    <div class="product-info col-sm-6">
        <h2 class="name">
        <a href="#">
            <span class="name">{{name}}</span>
        </a>
        </h2>
        <div itemprop="description" class="description">
            <p>{{description}}</p>
        </div>
    </div>
    <div class="product-price col-sm-3">
        <div class="price-container row">
        <span class="regular-price col-xs-12">
            <span class="price" itemprop="price">{{price}}</span>
        </span>
        </div>
        <div>
            <div class="product-btn">
                <a class="btn btn-primary btn-block" href="{{url}}">
                    <i class="fa fa-eye"></i>{/literal}{intl l="View Product"}{literal}
                </a>
            </div>
        </div>
    </div>
    </article>
</li>
</script>
{/literal}

<script type="text/javascript">
$(function(){
  var MyProductSearch = new ProductSearch({
    locale: 'fr_FR',
    searchButton: 'launch-search',
    templateItem: $('#item-template').html(),
    indexCode: 'products', // mandatory
    params: { "title_fr_FR": ["LIKE", ''], "description_fr_FR":["LIKE", '']}
  });
  MyProductSearch.init();
})
</script> 