{javascripts file="assets/js/SearchEngine.js" source="IndexEngine"}
    <script src="{$asset_url}"></script>
{/javascripts}

{javascripts file="assets/js/productsearch.js" source="ProductSearch"}
    <script src="{$asset_url}"></script>
{/javascripts}

{assign 'locale' value="{lang attr="locale"}"}
{assign 'currency' value="{currency attr="code"}"}


<h1>url_en_US - url_{$locale}</h1>

<script id="item-template" type="text/template">
<li class="item col-md-3 col-lg-2">
    <article itemtype="http://schema.org/Product" itemscope="">

        <a class="product-image overlay" tabindex="-1" itemprop="url" href="##url_{$locale}##">
            <img alt="##title_{$locale}##" src="##image_url##" class="img-responsive center-block" itemprop="image">
        </a>
        <a class="product-info" href="##url_{$locale}##">
            <h3 class="name"><span itemprop="name">##title_{$locale}##</span></h3>
            <div itemprop="description" class="short-description">##description_{$locale}##</div>
            <div class="product-price">
                <div itemtype="http://schema.org/Offer" itemscope="" itemprop="offers" class="price-container">
                    <span class="regular-price"><span class="price" itemprop="price">##price_{$currency}##</span></span>
                </div>
            </div>
        </a>
    </article>
</li>
</script>


<script type="text/javascript">
$(function(){
  var MyProductSearch = new ProductSearch({
    indexCode: 'products', // mandatory
    locale: '{$locale}',
    currency: '{$currency}',
    searchButton: 'launch-search',
    templateItem: $('#item-template').html(),
    noResultTemplate: '<li class="col-sm-12">{intl l="Sorry, no result for your search"}</li>',
    params: { "description_fr_FR":["LIKE", '']}
  });
  MyProductSearch.init();
})
</script> 