<div id="search-block">
  <p class="h1 title-search">{intl l="What are you searching for ?"}</p>
  <div id="close-search" class="close-icon">
    <i class="glyphicon glyphicon-remove"></i>
  </div>
  <div class="search-input">
    <form id="search-query-form">
      <input type="text" placeholder="Search..." id="search-query">
    </form>
  </div>
  <section id="products-new">
    <div class="products-content">
      <div id="search-result">
        <ul class="list-unstyled products-grid row" id="list-result">

        </ul>
      </div>
    </div>
  </section>
</div>
